<ons-page id="about-page">
    <ons-toolbar>
        <div class="left">
            <div class="left">
                <ons-toolbar-button onclick="fn.open()">
                    <ons-icon icon="md-menu"></ons-icon>
                </ons-toolbar-button>
            </div>
        </div>
        <div class="center"><span class="localization">About</span></div>
    </ons-toolbar>
    <div style="padding: 10px;" class="user-select-text">
        <img style="margin: 0 10px 10px 0; float: left; width: 210px; max-width: 50%;" src="images/logo.png">
        <p>
            Met de peilingen app kun je gedetailleerde peilingen bekijken van de Tweede Kamer van I&O Research,
            Ipsos/EenVandaag, Kantar Public en Peil.nl.
            De data komt van <a href="https://peilingwijzer.tomlouwerse.nl">peilingwijzer.tomlouwerse.nl</a>
        </p>
        <div class="clearfix"></div>
    </div>
    <ons-card>
        <div class="title"><span class="localization">Other</span></div>
        <div class="content">
            <a target="_system" href="https://esstudio.site/contact/">Contact opnemen met de ontwikkelaar</a>
            <br>
            <a target="_system" href="https://esstudio.site">Website van de ontwikkelaar</a>
            <br>
            <a href="mailto:polls@esstudio.site?subject=Polls&amp;body=Your%20message." target="_top">Stuur Email</a>
            <br>
            <a target="_system" href="https://echosierrastudio.github.io/EchoSierraStudio/privacy-policy.html">Privacy
                Policy</a>
            <br>
            <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-buddha" title="Pixel Buddha">Pixel
                    Buddha</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is
                licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
                    target="_blank">CC 3.0 BY</a></div>
            <div>
                Bron: "<a href="https://peilingwijzer.tomlouwerse.nl">Peilingwijzer</a>, Tom Louwerse, Universiteit Leiden".
            </div>
            <div>
                De <a href="https://peilingwijzer.tomlouwerse.nl">Peilingwijzer</a> combineert de peilingen van I&O Research, Ipsos/EenVandaag, Kantar Public en Peil.nl tot één schatting van de politieke krachtsverhoudingen voor de Tweede Kamer.
            </div>
        </div>
    </ons-card>
</ons-page>