<ons-page id="about-page">
    <ons-toolbar>
        <div class="left">
            <ons-back-button></ons-back-button>
        </div>
        <div class="center">About</div>
    </ons-toolbar>
    <div style="padding: 10px;" class="user-select-text">
        <h1>About</h1>
        <img style="margin: 0 10px 10px 0; float: left; max-width: 50%;" src="images/logo.png">
        <p>
            The easiest way to follow news from your favorite websites and blogs and news sites. Easily search for news on multiple platforms,
            find feeds on popular websites and more. Also works as a classic RSS/Atom reader.
        </p>
        <div class="clearfix"></div>
    </div>
    <ons-card>
        <div class="title">Other</div>
        <div class="content">
            <a target="_system" href="https://esstudio.site/contact/">Contact opnemen met de ontwikkelaar</a>
            <br>
            <a target="_system" href="https://esstudio.site">Website van de ontwikkelaar</a>
            <br>
            <a href="mailto:polls@esstudio.site?subject=Polls&amp;body=Your%20message." target="_top">Stuur Email</a>
            <br>
            <a target="_system" href="https://echosierrastudio.github.io/EchoSierraStudio/privacy-policy.html">Privacy Policy</a>
            <br>
            <div>Icons made by
                <a href="https://www.flaticon.com/authors/pixel-buddha" title="Pixel Buddha">Pixel Buddha</a> from
                <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </div>
            <div>Icons made by
                <a href="https://www.flaticon.com/authors/vectors-market" title="Vectors Market">Vectors Market</a> from
                <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </div>
        </div>
    </ons-card>
</ons-page>